.hero {
  box-sizing: border-box;
  background-color: $black;
  background-image: linear-gradient(0deg, $black, $brandColThree);
  padding: $verticalSpacing*8 $gutter;
  margin-bottom: $verticalSpacing;

  .hero__h2 {
    color: $white;

    .hero__h2--hlight {
      color: $brandColOne;
    }

    .hero__h2--emp {
      font-style:italic;
      font-family: serif;
      color: $brandColThree;
    }
  } // .hero__h2

  .hero__text {
    color: $white;
  }
}// .hero